\#*
*~
.#*
\#*\#

*.class

.idea
*.iml
*.pyc
.gradle
local.properties
/.DS_Store
build
cli/config.json
venv
temp_couchbase_server_primary_node
temp_gateload_node
temp_cbagent_config_template.conf
temp_cbagent_config_template.conf-e

cloudformation_template.json
temp_ansible_hosts
conf/hosts.ini

provisioning_config*
!libraries/utilities/provisioning_config_parser.py

results.xml
test-framework.log

testsuites/syncgateway/performance/results/*
!performance_results/README.txt

# appium ignore
*.png
log.html
output.xml
report.html

resources/cluster_configs/*
!resources/cluster_configs/1sg_1cbs.sample
libraries/provision/ansible/playbooks/ansible.cfg
debug.txt