\#*
*~
.#*
\#*\#

.cache/

*.class

.idea
*.iml
*.pyc
.gradle
local.properties
/.DS_Store
build
cli/config.json
venv
temp_couchbase_server_primary_node
temp_gateload_node
temp_cbagent_config_template.conf
temp_cbagent_config_template.conf-e

*_cf_template.json
temp_ansible_hosts
conf/hosts.ini

provisioning_config*
!libraries/utilities/provisioning_config_parser.py
*.retry

results.xml
test-framework.log

testsuites/syncgateway/performance/results/*
!performance_results/README.txt

# appium ignore
*.png
log.html
output.xml
report.html

results/*

!results/dbs
results/dbs/*

!results/dbs/macosx/
results/dbs/macosx/*
!results/dbs/macosx/README.md
!results/dbs/net-mono/
results/dbs/net-mono/*
!results/dbs/net-mono/README.md

!results/logs
results/logs/*
!results/logs/README.md

resources/cluster_configs/*
!resources/cluster_configs/README.md

resources/liteserv_configs/*
!resources/liteserv_configs/README.md

resources/pool.json
!resources/cluster_configs/1sg_1cbs.sample
debug.txt

mobile_testkit_tests/*.txt

deps/*
!deps/binaries/README.md

scripts

ansible.cfg

.vagrant/