[defaults]
remote_user = vagrant

; http://docs.ansible.com/ansible/intro_configuration.html#control-path
; prevent socket names that may be too long with (AWS host names)
[ssh_connection]
control_path = %(directory)s/%%h-%%r
forks = 100
