<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="PublicNuget" value="https://api.nuget.org/v3/index.json" />
        
        <!-- Private repos below.  Requires VPN access -->
        <add key="Couchbase QE" value="http://mobile.nuget.couchbase.com/nuget/Internal" />
        
        <!-- Add if needed, these builds are not tested  -->
        <!-- <add key="Couchbase CI" value="http://mobile.nuget.couchbase.com/nuget/CI" /> -->
    </packageSources>
</configuration>