---
- hosts: sync_gateways
  any_errors_fatal: true
  tasks:
  - include: tasks/check-sync-gateway.yml
    when: ansible_distribution == "CentOS" or ansible_distribution == "RedHat" or ansible_distribution == "Amazon" or ansible_distribution == "Ubuntu" or ansible_distribution == "Debian"

  - include: tasks/check-sync-gateway-windows.yml
    when: ansible_os_family == "Windows"
