---
- hosts: load_balancers
  any_errors_fatal: true
  become: yes
  vars:
    upstream_sync_gatways:
    upstream_sync_gatways_admin:

  tasks:
  - name: SYNC-GATEWAY | kill sync-gateway process
    shell: lsof -n -i:4984 | grep LISTEN | awk '{ print $2 }' | uniq | xargs kill -9

  - name: epel-release | install epel-release for nginx
    yum: pkg=epel-release state=latest

  - name: NGINX | Install nginx
    yum: pkg=nginx state=latest

  - name: NGINX | Render and deploy nginx config
    template:
      src=../../../../resources/nginx_configs/nginx.conf.j2
      dest=/etc/nginx/nginx.conf
      owner=root
      group=root

  - name: NGINX | Start nginx service
    service: name=nginx state=started
