---
- hosts: couchbase_servers
  any_errors_fatal: true
  become: yes

  vars:
    couchbase_server_package_base_url:
    couchbase_server_package_name:
    ipv6_enabled:
    cbs_dp_preview:
    couchbase_server_package_url: "{{ couchbase_server_package_base_url }}/{{ couchbase_server_package_name }}"


    couchbase_server_admin: Administrator
    couchbase_server_password: password

    # 512 reserved for query service
    couchbase_server_index_ram: 512
    couchbase_server_cluster_ram: "{{((ansible_memtotal_mb|int)*0.8)|int - 512 }}"
    couchbase_server_admin_port: 8091
    protocol: http://
    addnode_protocol: http://
    addnode_port: 8091
    ssl_verify:
    couchbase_server_home_path: /opt/couchbase

    # Primary node
    couchbase_server_primary_node: "{{ hostvars[groups.couchbase_servers[0]].ansible_host }}"

    # Current node
    couchbase_server_node: "{{ hostvars[inventory_hostname]['ansible_host'] }}"

    couchbase_server_bucket_type: couchbase
    couchbase_server_bucket_replica: 1
    couchbase_server_bucket_ram: "{{ ((couchbase_server_cluster_ram|int)*0.5)|int }}"

  tasks:
    - debug: msg="Couchbase server primary node \"{{ couchbase_server_primary_node }}\""
    - debug: msg="Couchbase server node {{ couchbase_server_node }}"
    - debug: msg="Downloading Couchbase server v. {{ couchbase_server_package_url }}"
    - debug: msg="IPv6 Enabled - {{ ipv6_enabled }}"

    # Remove Couchbase Server
    - include: tasks/remove-couchbase-server-centos.yml
    - include: tasks/clean-users.yml

    # Download and install
    - name: COUCHBASE SERVER | Download couchbase server
      get_url: url={{ couchbase_server_package_url }} dest=/tmp/{{ couchbase_server_package_name }}

    - name: Install Couchbase Server on CentOS
      yum: name=/tmp/{{ couchbase_server_package_name }} state=present

    - name: Enabling CBS on IPV6 | Stopping CBS
      service: name=couchbase-server state=stopped
      when: ipv6_enabled

    - name: Enabling CBS on IPV6 | Enabling IPv6 in static_config
      shell: echo "{ipv6, true}." >> /opt/couchbase/etc/couchbase/static_config
      when: ipv6_enabled

    - name: Enabling CBS on IPV6 | Deleting config.dat
      file:
        path: /opt/couchbase/var/lib/couchbase/config/config.dat
        state: absent
      when: ipv6_enabled

    - name: Enabling CBS on IPV6 | Starting CBS
      service: name=couchbase-server state=started
      when: ipv6_enabled

    - name: Disable firewall
      shell: iptables -F

    # Configure
    - debug: msg="Couchbase cluster RAM {{ couchbase_server_cluster_ram }}"
    - debug: msg="Couchbase bucket RAM {{ couchbase_server_bucket_ram }}"

    - name: COUCHBASE SERVER | Get major version
      shell: cat /opt/couchbase/VERSION.txt | cut -d '.' -f1
      register: cb_major_version

    - name: COUCHBASE SERVER | Get full version
      shell: cat /opt/couchbase/VERSION.txt
      register: cb_full_version

    - name: COUCHBASE SERVER | Wait for node to be listening on port 8091
      wait_for: port=8091 delay=5 timeout=60

    - name: Setting IP family of the cluster
      shell: "{{ couchbase_server_home_path }}/bin/couchbase-cli ip-family  --set --ipv6 -c [{{ couchbase_server_node }}]:{{ couchbase_server_admin_port }} -u={{ couchbase_server_admin }} --password={{ couchbase_server_password }}"
      when: "'6.5' in couchbase_server_package_name and ipv6_enabled"

    - name: COUCHBASE SERVER | Configure cluster settings (4.7.X and up) | configure IPv4
      shell: "{{ couchbase_server_home_path }}/bin/couchbase-cli cluster-init -c {{ couchbase_server_node }}:{{ couchbase_server_admin_port }} --cluster-username={{ couchbase_server_admin }} --cluster-password={{ couchbase_server_password }} --cluster-port={{couchbase_server_admin_port}} --cluster-ramsize={{ couchbase_server_cluster_ram }}  --services=data,index,query  --cluster-index-ramsize={{ couchbase_server_index_ram }}  --index-storage-setting=default"
      when:  "not '4.0' in couchbase_server_package_name and not '4.1' in couchbase_server_package_name and not '4.5' in couchbase_server_package_name and not '4.6' in couchbase_server_package_name and not '3.0' in couchbase_server_package_name and not '3.1' in couchbase_server_package_name and not ipv6_enabled"

    - name: COUCHBASE SERVER | Configure cluster settings (4.7.X and up) | configure IPv6
      shell: "{{ couchbase_server_home_path }}/bin/couchbase-cli cluster-init -c [{{ couchbase_server_node }}]:{{ couchbase_server_admin_port }} --cluster-username={{ couchbase_server_admin }} --cluster-password={{ couchbase_server_password }} --cluster-port={{couchbase_server_admin_port}} --cluster-ramsize={{ couchbase_server_cluster_ram }}  --services=data,index,query  --cluster-index-ramsize={{ couchbase_server_index_ram }}  --index-storage-setting=default"
      when:  "not '4.0' in couchbase_server_package_name and not '4.1' in couchbase_server_package_name and not '4.5' in couchbase_server_package_name and not '4.6' in couchbase_server_package_name and not '3.0' in couchbase_server_package_name and not '3.1' in couchbase_server_package_name and ipv6_enabled"

    - name: COUCHBASE SERVER | Initialize primary node (6.X and up) | configure IPv4
      shell: "{{ couchbase_server_home_path }}/bin/couchbase-cli node-init -c {{ couchbase_server_node }}:{{ couchbase_server_admin_port }} -u={{ couchbase_server_admin }} --password={{ couchbase_server_password }} --node-init-hostname={{ couchbase_server_node }}"
      when: "(not {{ cb_major_version['stdout'] | search('\\b[1-5]\\b') }}) and not ipv6_enabled"

    - name: COUCHBASE SERVER | Initialize primary node (6.X and up)| configure IPv6
      shell: "{{ couchbase_server_home_path }}/bin/couchbase-cli node-init -c [{{ couchbase_server_node }}]:{{ couchbase_server_admin_port }} -u={{ couchbase_server_admin }} --password={{ couchbase_server_password }}"
      when: "(not {{ cb_major_version['stdout'] | search('\\b[1-5]\\b') }}) and ipv6_enabled"

    - name: COUCHBASE SERVER | Wait for node to be listening on port 8091
      wait_for: port=8091 delay=5 timeout=60

    - set_fact:
        protocol: ""
        addnode_protocol: ""
      when: "( {{ cb_major_version['stdout'] | search('\\b[1-4]\\b') }} ) or ( '5.0.0' in cb_full_version.stdout )"

    - set_fact:
        addnode_protocol: https://
        addnode_port: 18091
        ssl_verify: --no-ssl-verify
      when: "( {{ cb_major_version['stdout'] | search('\\b[7]\\b') }} ) or ( '7.1.0' in cb_full_version.stdout )"

    - name: COUCHBASE SERVER | Join additional cluster nodes | configure IPv6
      shell: "{{ couchbase_server_home_path }}/bin/couchbase-cli server-add -c {{ addnode_protocol }}://[{{ couchbase_server_primary_node }}]:{{ addnode_port }} -u={{ couchbase_server_admin }} --password={{ couchbase_server_password }} --server-add={{ addnode_protocol }}://[{{ couchbase_server_node }}]:{{ addnode_port }} --server-add-username={{ couchbase_server_admin }} --server-add-password={{ couchbase_server_password }} {{ ssl_verify }}"
      when: "not (couchbase_server_node == couchbase_server_primary_node ) and (not {{ cb_major_version['stdout'] | search('\\b[1-5]\\b') }}) and ipv6_enabled"

    - name: COUCHBASE SERVER | Join additional cluster nodes | configure IPv4
      shell: "{{ couchbase_server_home_path }}/bin/couchbase-cli server-add -c {{ addnode_protocol }}{{ couchbase_server_primary_node }}:{{ addnode_port }} -u={{ couchbase_server_admin }} --password={{ couchbase_server_password }} --server-add={{ addnode_protocol }}{{ couchbase_server_node }}:{{ addnode_port }} --server-add-username={{ couchbase_server_admin }} --server-add-password={{ couchbase_server_password }} {{ ssl_verify }}"
      when: "not (couchbase_server_node == couchbase_server_primary_node ) and not ipv6_enabled"

    - name: COUCHBASE SERVER | Join additional cluster nodes | configure IPv6
      shell: "{{ couchbase_server_home_path }}/bin/couchbase-cli server-add -c {{ addnode_protocol }}[{{ couchbase_server_primary_node }}]:{{ addnode_port }} -u={{ couchbase_server_admin }} --password={{ couchbase_server_password }} --server-add={{ addnode_protocol }}{{ couchbase_server_node }}:{{ addnode_port }} --server-add-username={{ couchbase_server_admin }} --server-add-password={{ couchbase_server_password }} {{ ssl_verify }}"
      when: "not (couchbase_server_node == couchbase_server_primary_node ) and ipv6_enabled"

    - name: COUCHBASE SERVER | Rebalance cluster (6.X and up) | configure IPv4
      shell: "{{ couchbase_server_home_path }}/bin/couchbase-cli rebalance -c {{ couchbase_server_primary_node }}:{{ couchbase_server_admin_port }} -u={{ couchbase_server_admin }} --password={{ couchbase_server_password }}"
      ignore_errors: yes
      when: "(not {{ cb_major_version['stdout'] | search('\\b[1-5]\\b') }}) and not ipv6_enabled"

    - name: COUCHBASE SERVER | Rebalance cluster (6.X and up) | configure IPv6
      shell: "{{ couchbase_server_home_path }}/bin/couchbase-cli rebalance -c [{{ couchbase_server_primary_node }}]:{{ couchbase_server_admin_port }} -u={{ couchbase_server_admin }} --password={{ couchbase_server_password }}"
      ignore_errors: yes
      when: "(not {{ cb_major_version['stdout'] | search('\\b[1-5]\\b') }}) and ipv6_enabled"

    - name: COUCHBASE SERVER | Enable auto failover (6.X and up) | configure IPv4
      shell: "{{ couchbase_server_home_path }}/bin/couchbase-cli setting-autofailover -c {{ couchbase_server_primary_node }}:{{ couchbase_server_admin_port }} -u={{ couchbase_server_admin }} --password={{ couchbase_server_password }} --enable-auto-failover=1 --auto-failover-timeout=30"
      when:  "(not {{ cb_major_version['stdout'] | search('\\b[1-5]\\b') }}) and not ipv6_enabled"

    - name: COUCHBASE SERVER | Enable auto failover (6.X and up) | configure IPv6
      shell: "{{ couchbase_server_home_path }}/bin/couchbase-cli setting-autofailover -c [{{ couchbase_server_primary_node }}]:{{ couchbase_server_admin_port }} -u={{ couchbase_server_admin }} --password={{ couchbase_server_password }} --enable-auto-failover=1 --auto-failover-timeout=30"
      when:  "(not {{ cb_major_version['stdout'] | search('\\b[1-5]\\b') }}) and ipv6_enabled"

    - name: COUCHBASE SERVER | Enable developer preview (6.X and up)
      shell: yes | {{ couchbase_server_home_path }}/bin/couchbase-cli enable-developer-preview --enable -c localhost:{{ couchbase_server_admin_port }} -u {{ couchbase_server_admin }} -p {{ couchbase_server_password }}
      when:  "(not {{ cb_major_version['stdout'] | search('\\b[1-5]\\b') }}) and {{ cbs_dp_preview }}"

    - name: COUCHBASE SERVER | CREATE RBAC user in Admin role | configure 7.0.2 or higher
      shell: "{{ couchbase_server_home_path }}/bin/couchbase-cli user-manage -c {{ couchbase_server_primary_node }}:{{ couchbase_server_admin_port }} -u {{ couchbase_server_admin }} -p {{ couchbase_server_password }} --set --rbac-username sgw_admin --rbac-password password --roles admin --auth-domain local"
      when: "not {{ cb_major_version['stdout'] | search('\\b[1-6]\\b') }}"
