---
# Remove sync_gateway
- hosts: sync_gateways:sg_accels
  become: yes

  tasks:
  - include: tasks/remove-sync-gateway.yml
  - include: tasks/remove-sg-accel.yml
  - include: tasks/clean-users.yml

  # Check no sync_gateways or accels running
  - name: SYNC GATEWAY | verify no service on 4985
    wait_for: port=4985 delay=1 state=stopped

# Flush server buckets
- hosts: couchbase_servers
  any_errors_fatal: true
  vars:
    # Primary node
    couchbase_server_primary_node: "{{ hostvars[groups.couchbase_servers[0]].ansible_host }}"
    # Current node
    couchbase_server_node: "{{ hostvars[inventory_hostname]['ansible_host'] }}"

    couchbase_server_home_path: /opt/couchbase
    couchbase_server_admin_port: 8091
    couchbase_server_admin: Administrator
    couchbase_server_password: password

    couchbase_server_bucket_type: couchbase
    couchbase_server_bucket_replica: 1
    couchbase_server_cluster_ram: "{{ ((ansible_memtotal_mb|int)*0.8)|int - 512 }}"
    couchbase_server_bucket_ram: "{{ ((couchbase_server_cluster_ram|int)*0.5)|int }}"

# Create sync_gateway user
- hosts: sync_gateways
  any_errors_fatal: true
  become: yes
  tasks:
  - include: tasks/create-sync-gateway-user.yml

# Create sg_accel user
- hosts: sg_accels
  any_errors_fatal: true
  become: yes
  tasks:
  - include: tasks/create-sg-accel-user.yml

# Download source and build
- hosts: sync_gateways
  any_errors_fatal: true
  become: yes
  vars:
    commit:
    build_flags:

  tasks:
  - name: SYNC GATEWAY | Create .git email to use bootstrap.sh script
    shell: git config --global user.email "foo@couchbase.com"

  - name: SYNC GATEWAY | Create .git user name to use bootstrap.sh script
    shell: git config --global user.name "Foo"

  - name: SYNC GATEWAY | disable git color UI config
    shell: git config --global color.ui false

  - name: SYNC GATEWAY | Download bootstrap script
    get_url: url=https://raw.githubusercontent.com/couchbase/sync_gateway/master/bootstrap.sh dest=/home/centos/ mode=0751

  - stat:
      path: /tmp/sg_{{ commit }}
    register: sg_binary

  - name: SYNC GATEWAY | Run bootstrap.sh script
    shell: ./bootstrap.sh -p sg -c {{ commit }} chdir=/home/centos/
    when: (sg_binary.stat.exists == False)

  - name: SYNC GATEWAY | Build
    shell: ./build.sh {{ build_flags }} chdir=/home/centos/
    when: (sg_binary.stat.exists == False)

  - name: SYNC GATEWAY & SG ACCEL | Unit Tests
    shell: ./test.sh chdir=/home/centos/
    when: (sg_binary.stat.exists == False) or (sgaccel_binary.stat.exists == False)

  # Use cached binaries if available
  - name: SYNC GATEWAY | Use Cached binary
    shell: |
      mkdir -p /opt/couchbase-sync-gateway/bin/
      cp /tmp/sg_{{ commit }} /opt/couchbase-sync-gateway/bin/sync_gateway
    when: (sg_binary.stat.exists == True)

  # Create target directory and deploy Sync Gateway binary
  - name: SYNC GATEWAY | Creates /opt/couchbase-sync-gateway
    file: path=/opt/couchbase-sync-gateway state=directory
    when: (sg_binary.stat.exists == False)

  - name: SYNC GATEWAY | Creates /opt/couchbase-sync-gateway/bin
    file: path=/opt/couchbase-sync-gateway/bin state=directory
    when: (sg_binary.stat.exists == False)

  - name: SYNC GATEWAY | Copy sync_gateway binary to /opt/
    shell: cp /home/centos/godeps/bin/sync_gateway /opt/couchbase-sync-gateway/bin/
    when: (sg_binary.stat.exists == False)

  # Cache binaries in /tmp
  - name: SYNC GATEWAY | Cache binary
    shell: cp /home/centos/godeps/bin/sync_gateway /tmp/sg_{{ commit }}
    when: (sg_binary.stat.exists == False)

- hosts: sg_accels
  any_errors_fatal: true
  become: yes
  vars:
    commit:
    build_flags:

  tasks:
  - name: SG ACCEL | Create .git email to use bootstrap.sh script
    shell: git config --global user.email "foo@couchbase.com"

  - name: SG ACCEL | Create .git user name to use bootstrap.sh script
    shell: git config --global user.name "Foo"

  - name: SG ACCEL | disable git color UI config
    shell: git config --global color.ui false

  - name: SG ACCEL | Download bootstrap script
    get_url: url=https://raw.githubusercontent.com/couchbase/sync_gateway/master/bootstrap.sh dest=/home/centos/ mode=0751

  - stat:
      path: /tmp/sgaccel_{{ commit }}
    register: sgaccel_binary

  - name: SG ACCEL | Run bootstrap.sh script
    shell: ./bootstrap.sh -p sg-accel -c {{ commit }} chdir=/home/centos/
    when: (sgaccel_binary.stat.exists == False)

  - name: SG ACCEL | Build
    shell: ./build.sh {{ build_flags }} chdir=/home/centos/
    when: (sgaccel_binary.stat.exists == False)

  - name: SYNC GATEWAY & SG ACCEL | Unit Tests
    shell: ./test.sh chdir=/home/centos/
    when: (sg_binary.stat.exists == False) or (sgaccel_binary.stat.exists == False)

  # Use cached binaries if available
  - name: SG ACCEL | Use Cached binary
    shell: |
      mkdir -p /opt/couchbase-sg-accel/bin/
      cp /tmp/sgaccel_{{ commit }} /opt/couchbase-sg-accel/bin/sg_accel
    when: (sgaccel_binary.stat.exists == True)

  # Create target directory and deploy SG Accel binary
  - name: SG ACCEL | Creates /opt/couchbase-sg-accel
    file: path=/opt/couchbase-sg-accel state=directory
    when: (sgaccel_binary.stat.exists == False)

  - name: SG ACCEL | Creates /opt/couchbase-sg-accel/bin
    file: path=/opt/couchbase-sg-accel/bin state=directory
    when: (sgaccel_binary.stat.exists == False)

  - name: SG ACCEL | Copy sg_accel binary to /opt/
    shell: cp /home/centos/godeps/bin/sync-gateway-accel /opt/couchbase-sg-accel/bin/sg_accel
    when: (sgaccel_binary.stat.exists == False)

  # Cache binaries in /tmp
  - name: SG ACCEL | Cache binary
    shell: cp /home/centos/godeps/bin/sync-gateway-accel /tmp/sgaccel_{{ commit }}
    when: (sgaccel_binary.stat.exists == False)


# Deploy sync gateway configs
- hosts: sync_gateways
  any_errors_fatal: true
  become: yes
  vars:
    sync_gateway_config_filepath:
    couchbase_server_primary_node: "{{ hostvars[groups.couchbase_servers[0]].ansible_host }}"
    # hack until mobile-testkit/issues/406 allows any sync gateway to be referenced
    sync_gateway_node: "{{ hostvars[groups.sync_gateways[0]].ansible_host }}"
    is_index_writer: "false"
  tasks:
  - include: tasks/deploy-sync-gateway-config.yml

# Deploy sg_accel configs
- hosts: sg_accels
  any_errors_fatal: true
  become: yes
  vars:
    sync_gateway_config_filepath:
    couchbase_server_primary_node: "{{ hostvars[groups.couchbase_servers[0]].ansible_host }}"
    # hack until mobile-testkit/issues/406 allows any sync gateway to be referenced
    sync_gateway_node: "{{ hostvars[groups.sync_gateways[0]].ansible_host }}"
    is_index_writer: "true"
  tasks:
  - include: tasks/deploy-sg-accel-config.yml

# Install sync_gateway service and wait for launch
- hosts: sync_gateways
  any_errors_fatal: true
  become: yes
  tasks:
  - name: SYNC GATEWAY | Make service install script executable
    file: path=/home/centos/godeps/src/github.com/couchbase/sync_gateway/service/sync_gateway_service_install.sh mode=a+x

  - name: SYNC GATEWAY | Install sync gateway service
    shell: ./sync_gateway_service_install.sh chdir=/home/centos/godeps/src/github.com/couchbase/sync_gateway/service

  - name: SYNC GATEWAY | Wait until sync gateway to listen on port
    wait_for: port=4985 timeout=120

# Install sg_accel service and wait for launch
- hosts: sg_accels
  any_errors_fatal: true
  become: yes
  tasks:
  - name: SYNC GATEWAY | Make service install script executable
    file: path=/home/centos/godeps/src/github.com/couchbase/sync_gateway/service/sg_accel_service_install.sh mode=a+x

  - name: SYNC GATEWAY | Install sg_accell service
    shell: ./sg_accel_service_install.sh chdir=/home/centos/godeps/src/github.com/couchbase/sync_gateway/service

  - name: SYNC GATEWAY | Start the service
    service: name=sg_accel state=started

  - name: SYNC GATEWAY | Wait until sync gateway to listen on port
    wait_for: port=4985 timeout=120
