- name: Windows - Copy directory to Windows
  hosts: windows
  vars:
    directory_path:

  tasks:
    - name: Install nssm (https://nssm.cc/)
      win_chocolatey: name=nssm

    - name: Install VS2015 C++ Runtime
      win_chocolatey: name=vcredist2015

    - name: Remove Service Wrapper
      win_nssm:
        name: LiteServ
        application: C:\Users\Administrator\Desktop\LiteServ\{{ directory_path }}\LiteServ.exe
        state: absent

    - name: Remove LiteServ on machine (if exists)
      win_file: path=C:\Users\Administrator\Desktop\LiteServ state=absent

    - name: Copy Directory
      win_copy: src={{ directory_path }}  dest=C:\Users\Administrator\Desktop\LiteServ\
