---
# Deploy sg_accel configs (index writers)
- hosts: sg_accels
  vars:
    sync_gateway_config_filepath:
    couchbase_server_primary_node: "{{ hostvars[groups.couchbase_servers[0]].ansible_host }}"
    # hack until mobile-testkit/issues/406 allows any sync gateway to be referenced
    sync_gateway_node: "{{ hostvars[groups.sync_gateways[0]].ansible_host }}"
    webhook_ip: "{{ hostvars[groups.webhook_ip[0]].ansible_host }}"
    is_index_writer: "true"
    scheme:
    server_port:
  tasks:
  - include: tasks/deploy-sg-accel-config.yml
    when: ansible_distribution == "CentOS"

  - include: tasks/deploy-sg-accel-config-windows.yml
    when: ansible_os_family == "Windows"

- hosts: sg_accels
  any_errors_fatal: true

  vars:
    sync_gateway_config_filepath:
    couchbase_server_primary_node: "{{ hostvars[groups.couchbase_servers[0]].ansible_host }}"
  tasks:
  - include: tasks/start-sg-accel.yml
    when: ansible_distribution == "CentOS"

  - include: tasks/start-sg-accel-windows.yml
    when: ansible_os_family == "Windows"