---
- hosts: sync_gateways
  any_errors_fatal: true

  tasks:
  - include: tasks/stop-sync-gateway.yml
    become: yes
    when: ansible_distribution == "CentOS" or ansible_distribution == "RedHat"


  - include: tasks/stop-sync-gateway-windows.yml
    when: ansible_os_family == "Windows"