<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<!-- The section name is important -->
		<section name="couchbaselite" type="Couchbase.Lite.Configuration.CouchbaseConfigurationHandler, Couchbase.Lite" />
	</configSections>
	<couchbaselite>
		<!-- The same as the name above -->
		<logging enabled="true">
			<!-- default is true -->
			<domains>
				<!-- The key (e.g. Database, Query) is the domain -->
				<Sync verbosity="verbose" />
				<ChangeTracker verbosity="verbose" />
				<!-- 'debug' is only valid for debug builds, will be the same as verbose in release -->
			</domains>
		</logging>
	</couchbaselite>
</configuration>