# Delete the provided directory
- name: SYNC GATEWAY | Delete sync_gateway file {{ file_name }}
  become: yes
  shell: rm -rf {{ file_name }}
  when: ansible_distribution == "CentOS" or ansible_distribution == "RedHat" or ansible_distribution == "Amazon" or ansible_distribution == "Ubuntu" or ansible_distribution == "Debian" or ansible_distribution == "MacOSX"

- name: SYNC GATEWAY | Delete sync_gateway directory on windows
  become: no
  win_file:
    path: "{{ file_name }}"
    state: absent
  when: ansible_os_family == "Windows"
