# Delete the provided directory
- name: SYNC GATEWAY | Delete sync_gateway directory on non-windows
  become: yes
  shell: rm -rf {{ directory }}
  when: ansible_distribution == "CentOS" or ansible_distribution == "RedHat" or ansible_distribution == "Amazon" or ansible_distribution == "Ubuntu" or ansible_distribution == "Debian" or ansible_distribution == "MacOSX"

- name: SYNC GATEWAY | Delete sync_gateway directory on windows
  become: no
  win_file:
    path: "{{ directory }}"
    state: absent
  when: ansible_os_family == "Windows"
