# Stop sync_gateway service
- name: stop sync_gateway service
  service: name=sync_gateway state=stopped
  when: ansible_distribution == "CentOS" and ansible_distribution_major_version == "7"
  ignore_errors: yes

- name: stop sync_gateway for CentOS 6
  shell: /sbin/initctl stop sync_gateway
  when: ansible_distribution == "CentOS" and ansible_distribution_major_version == "6"
  ignore_errors: yes

# Remove sync_gateway package
- name: Uninstall sync_gateway rpm
  shell: rpm -e couchbase-sync-gateway
  ignore_errors: yes

# Remove sync_gateway service
- name: Remove sync_gateway service
  file: path=/usr/lib/systemd/system/sync_gateway.service state=absent
  ignore_errors: yes

# Delete sync_gateway binary
- name: delete sync_gateway binary
  file: path=/opt/couchbase-sync-gateway state=absent
  ignore_errors: yes

# Remove sync gateway source
- name: remove sync gateway source
  file: /home/centos state=absent
  ignore_errors: yes
