# Add sync_gateway user, copy new config
#- name: add sync gateway user
#  user: name=sync_gateway createhome=yes
#- name: make service install script executable
#  file: path=/home/centos/sync_gateway/service/sync_gateway_service_install.sh mode=a+x
#- name: copy sync gateway binary to sync_gateway home
#  shell: cp /home/centos/sync_gateway/bin/sync_gateway /home/sync_gateway
#- name: change permissions of sync gateway executable
#  file: path=/home/sync_gateway/sync_gateway mode=a+x
- debug: msg="Starting sync_gateway with config {{ sync_gateway_config_filepath }}"
- name: copy sync gateway config to host
  template: src={{ sync_gateway_config_filepath }} dest=/home/sync_gateway/sync_gateway.json owner=sync_gateway group=sync_gateway mode=0644 force=true

  # install service and launch
- name: install sync gateway service
  shell: ./sync_gateway_service_install.sh --sgpath=/home/sync_gateway/sync_gateway chdir=/home/centos/sync_gateway/service
- name: wait until sync gateway to listen on port
  wait_for: port=4985 delay=1 timeout=30
